In [151]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import getpass  # To get the password without showing the input
import re

In [152]:
password = getpass.getpass()

········

- Create a query or queries to extract the information you think may be relevant for building the prediction model. It should include some film features and some rental features. Use the data from 2005.

- Create a query to get the list of films and a boolean indicating if it was rented last month (August 2005). This would be our target variable.

- Read the data into a Pandas dataframe.

- Analyze extracted features and transform them. You may need to encode some categorical variables, or scale numerical variables.

- Create a logistic regression model to predict this variable from the cleaned data.

- Evaluate the results.

In [153]:
connection_string = 'mysql+pymysql://root:' + password + '@localhost/sakila'
engine = create_engine(connection_string)

In [179]:
film =  '''
SELECT 
    t1.customer_id
    ,t1.rental_id
    ,t1.inventory_id
    ,t2.film_id
    ,t3.title
    ,t6.name AS genre
    ,t3.length
    ,t4.name AS language
    ,t3.special_features
    ,t3.rating
    ,t2.store_id
    ,t1.staff_id
    ,t3.rental_duration
    ,t3.rental_rate
    ,t3.replacement_cost
    , CASE WHEN t1.rental_date LIKE '2005-05%%' THEN 'True'
        ELSE 'False'
        END AS 'Test'
FROM 
	sakila.rental AS t1
INNER JOIN sakila.inventory AS t2 ON t1.inventory_id = t2.inventory_id
LEFT JOIN sakila.film AS t3 ON t2.film_id = t3.film_id
INNER JOIN sakila.language AS t4 ON t3.language_id = t4.language_id
INNER JOIN sakila.film_category AS t5 ON t3.film_id = t5.film_id
INNER JOIN sakila.category AS t6 ON t5.category_id = t6.category_id
WHERE
	t1.rental_date LIKE '2005%%'
;

'''




dfr = pd.read_sql_query(film, engine)

In [180]:
dfr['rental_duration'].unique()

array([7, 6, 5, 4, 3])

In [181]:
dfr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15862 entries, 0 to 15861
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       15862 non-null  int64
 1   rental_id         15862 non-null  int64
 2   inventory_id      15862 non-null  int64
 3   film_id           15862 non-null  int64
 4   title             15862 non-null  object
 5   genre             15862 non-null  object
 6   length            15862 non-null  int64
 7   language          15862 non-null  object
 8   special_features  15862 non-null  object
 9   rating            15862 non-null  object
 10  store_id          15862 non-null  int64
 11  staff_id          15862 non-null  int64
 12  rental_duration   15862 non-null  int64
 13  rental_rate       15862 non-null  float64
 14  replacement_cost  15862 non-null  float64
 15  Test              15862 non-null  object
dtypes: float64(2), int64(8), object(6)
memory usage: 1.9+ MB

In [182]:
dfr = dfr[['customer_id','rental_id','inventory_id','film_id','title','genre','length','language','special_features','rating','store_id','staff_id','rental_duration','rental_rate','replacement_cost','Test']]

In [183]:
dfr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15862 entries, 0 to 15861
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       15862 non-null  int64
 1   rental_id         15862 non-null  int64
 2   inventory_id      15862 non-null  int64
 3   film_id           15862 non-null  int64
 4   title             15862 non-null  object
 5   genre             15862 non-null  object
 6   length            15862 non-null  int64
 7   language          15862 non-null  object
 8   special_features  15862 non-null  object
 9   rating            15862 non-null  object
 10  store_id          15862 non-null  int64
 11  staff_id          15862 non-null  int64
 12  rental_duration   15862 non-null  int64
 13  rental_rate       15862 non-null  float64
 14  replacement_cost  15862 non-null  float64
 15  Test              15862 non-null  object
dtypes: float64(2), int64(8), object(6)
memory usage: 1.9+ MB

In [184]:
dfr = dfr.dropna()

In [228]:
dfr['Test'].unique()

array(['True', 'False'], dtype=object)

In [229]:
dfr['special_features'].value_counts()

Trailers,Commentaries,Behind the Scenes                   1308
Trailers                                                  1139
Trailers,Commentaries                                     1129
Trailers,Behind the Scenes                                1122
Behind the Scenes                                         1108
Commentaries,Deleted Scenes,Behind the Scenes             1101
Commentaries                                              1089
Commentaries,Behind the Scenes                            1078
Trailers,Deleted Scenes                                   1047
Deleted Scenes,Behind the Scenes                          1036
Deleted Scenes                                            1023
Commentaries,Deleted Scenes                               1011
Trailers,Commentaries,Deleted Scenes,Behind the Scenes     983
Trailers,Commentaries,Deleted Scenes                       916
Trailers,Deleted Scenes,Behind the Scenes                  772
Name: special_features, dtype: int64

In [161]:
dfr['special_features'] = dfr['special_features'].str.split(",")
dfr['special_features']

0                               [Trailers]
1            [Trailers, Behind the Scenes]
2            [Trailers, Behind the Scenes]
3            [Trailers, Behind the Scenes]
4                               [Trailers]
                       ...
15857        [Trailers, Behind the Scenes]
15858    [Commentaries, Behind the Scenes]
15859    [Commentaries, Behind the Scenes]
15860           [Trailers, Deleted Scenes]
15861                           [Trailers]
Name: special_features, Length: 15862, dtype: object

In [173]:
num = dfr.select_dtypes(include = np.number)
cat = dfr.select_dtypes(include = np.object)

['Trailers']

In [226]:

la = []
lb = []
lc = []
ld = []

for i in dfr['special_features']:
        if re.findall('Trailers', i):
            la.append(1)
        else:
            la.append(0)
dfr['Trailers'] = la

for i in dfr['special_features']:
        if re.findall('Behind the Scenes', i):
            lb.append(1)
        else:
            lb.append(0)
dfr['Behind the Scenes'] = lb            

            
for i in dfr['special_features']:
        if re.findall('Commentaries', i):
            lc.append(1)
        else:
            lc.append(0)
dfr['Commentaries'] = lc
            
            
for i in dfr['special_features']:
        if re.findall('Deleted Scenes', i):
            ld.append(1)
        else:
            ld.append(0)
dfr['Deleted Scenes'] = lc

" Returns all 1\n\nfor i in dfr['special_features']:\n        if re.findall('Trailers', i):\n            \n        elif re.findall('Behind the Scenes', i):\n            dfr['Behind the Scenes'] = 1\n        elif re.findall('Commentaries', i):\n            dfr['Commentaries'] = 1\n        elif re.findall('Deleted Scenes', i):\n            dfr['Deleted Scenes'] = 1\n"

In [227]:
dfr

,customer_id,rental_id,inventory_id,film_id,title,genre,length,language,special_features,rating,store_id,staff_id,rental_duration,rental_rate,replacement_cost,Test,Trailers,Behind the Scenes,Commentaries,Deleted Scenes
0,130,1,367,80,BLANKET BEVERLY,Family,148,English,Trailers,G,1,1,7,2.99,21.99,True,1,0,0,0
1,459,2,1525,333,FREAKY POCUS,Music,126,English,"Trailers,Behind the Scenes",R,2,1,7,2.99,16.99,True,1,1,0,0
2,408,3,1711,373,GRADUATE LORD,Children,156,English,"Trailers,Behind the Scenes",G,2,1,7,2.99,14.99,True,1,1,0,0
3,333,4,2452,535,LOVE SUICIDES,Horror,181,English,"Trailers,Behind the Scenes",R,1,2,6,0.99,21.99,True,1,1,0,0
4,222,5,2079,450,IDOLS SNATCHERS,Children,84,English,Trailers,NC-17,2,1,5,2.99,29.99,True,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15857,14,16045,772,168,COMANCHEROS ENEMY,Children,67,English,"Trailers,Behind the Scenes",R,1,1,5,0.99,23.99,False,1,1,0,0
15858,74,16046,4364,951,VOYAGE LEGALLY,Classics,78,English,"Commentaries,Behind the Scenes",PG-13,2,2,6,0.99,28.99,False,0,1,1,1
15859,114,16047,2088,452,ILLUSION AMELIE,Foreign,122,English,"Commentaries,Behind the Scenes",R,2,2,4,0.99,15.99,False,0,1,1,1
15860,103,16048,2019,439,HUNCHBACK IMPOSSIBLE,Drama,151,English,"Trailers,Deleted Scenes",PG-13,1,1,4,4.99,28.99,False,1,0,0,0
15861,393,16049,2666,585,MOB DUFFEL,Drama,105,English,Trailers,G,2,2,4,0.99,25.99,False,1,0,0,0

In [225]:
dfr.head(10)

,customer_id,rental_id,inventory_id,film_id,title,genre,length,language,special_features,rating,store_id,staff_id,rental_duration,rental_rate,replacement_cost,Test,Trailers,Behind the Scenes,Commentaries,Deleted Scenes
0,130,1,367,80,BLANKET BEVERLY,Family,148,English,Trailers,G,1,1,7,2.99,21.99,True,1,1,1,1
1,459,2,1525,333,FREAKY POCUS,Music,126,English,"Trailers,Behind the Scenes",R,2,1,7,2.99,16.99,True,1,1,1,1
2,408,3,1711,373,GRADUATE LORD,Children,156,English,"Trailers,Behind the Scenes",G,2,1,7,2.99,14.99,True,1,1,1,1
3,333,4,2452,535,LOVE SUICIDES,Horror,181,English,"Trailers,Behind the Scenes",R,1,2,6,0.99,21.99,True,1,1,1,1
4,222,5,2079,450,IDOLS SNATCHERS,Children,84,English,Trailers,NC-17,2,1,5,2.99,29.99,True,1,1,1,1
5,549,6,2792,613,MYSTIC TRUMAN,Comedy,92,English,"Commentaries,Behind the Scenes",NC-17,1,1,5,0.99,19.99,True,1,1,1,1
6,269,7,3995,870,SWARM GOLD,Horror,123,English,"Trailers,Commentaries",PG-13,2,2,4,0.99,12.99,True,1,1,1,1
7,239,8,2346,510,LAWLESS VISION,Animation,181,English,"Deleted Scenes,Behind the Scenes",G,1,2,6,4.99,29.99,True,1,1,1,1
8,126,9,2580,565,MATRIX SNOWMAN,Foreign,56,English,"Commentaries,Deleted Scenes,Behind the Scenes",PG-13,1,1,6,4.99,9.99,True,1,1,1,1
9,399,10,1824,396,HANGING DEEP,Drama,62,English,"Trailers,Commentaries,Deleted Scenes",G,2,2,5,4.99,18.99,True,1,1,1,1

In [ ]:
ld

In [ ]:
lc

In [ ]:
#rating - one hot encode
#DAYS rented.